<div class="container mx-auto my-10">
    <h1 class="bg-blue-500 text-white p-4 rounded-md">
        <fa-icon [icon]="faCoffee"></fa-icon> Hello, Angular & IndexDB Enthusiasts! This is a To Do List
    </h1>
    <div class="md mx-auto">
        <div class="bg-white shadow-md rounded-lg p-6">
            <form id="todo-form">
                <div class="flex mb-4">
                    <input type="text" class="w-full px-4 py-2 mr-2 rounded-lg
                         border-gray-300 focus:outline-none
                          focus:border-blue-500" [(ngModel)]="newTodoText" name="newTodoText" placeholder="Add a task"
                        required>
                    <button class="bg-blue-500 hover:bg-blue-700 
                        text-white font-bold py-2 px-4 rounded" (click)="addTodo()">
                        Add
                    </button>
                </div>
            </form>
            <ul id="todo-list">
                <li class="border-b border-gray-200 flex items-center justify-between py-4"
                    *ngFor="let todo of todos$ | async; trackBy: identifyList">

                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        <span>{{todo.text}}</span>
                    </label>
                    <div>
                        <button class="bg-red-700 rounded-md text-white hover:text-red-700 p-1
                         mr-2 delete-btn" (click)="removeTodo(todo.id)">Delete</button>
                        <button class="bg-orange-500 rounded-md p-1
                         hover:text-white edit-btn">Edit</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>